{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilos.css')}}"/>
<!-- MAPBOX BLOCK -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKylGqXGF6dkieX9tcSsneA18xX-tAROw" async defer></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
<!-- END MAPBOX BLOCK -->
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/CenidetModule/Leaflet.MakiMarkers.js')}}"></script>
<script src="{{=URL('static','js/CenidetModule/alerts.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','zonesList')}}">Zones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','parkingList')}}">Parkings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','roadsList')}}">Roads</a>
    </li>
</ul>
<br>
<div class="row container">
  <h2>Alerts Panel</h2>
</div>
<br>
<div class="row">
  <div class="col-sm-4 card" >
      <div class="form-group" id="FormGroup1">
          <form id="form">
            <br>
              <div class="form-group" id="option-search-zone">
                <label for="option-search-1" id="option-search-zone-label"><i class="far fa-map"></i>  Select the zone: </label>
                <select id="option-search-1" name="option-search-1" class="form-control" required>
                    <option value="" disabled selected> Select an option </option>
                </select>
              </div>
              <!---->
              <div class="form-group">
                <label for="alerts-visualization"><i class="far fa-bell"></i>  Choose an alert visualization: </label>
                <select id="alerts-visualization" name="alerts-visualization" class="form-control" required>
                    <option value="" disabled selected > Select an option </option>
                    <option value="history"> History Alerts </option>
                    <option value="current"> Current Alerts </option>
                </select>
              </div>
              <!---->
              <div class="form-group row">   
                  <div class="col-6">
                      <button type="submit"  class="col-12 btn btn-success btn-rounded text-center "> Consult </button>
                  </div>
                  <div class="col-6">
                      <button type="button" id="clear" class="col-12 btn btn-warning btn-rounded text-center"> Cancel </button>
                  </div>
              </div>
          </form>
          <br>
      </div>
  </div>
  <br>
  <div class="col-sm-8">
      <!-- <h2 class="text-center"> Institution Map</h2> -->
      <div id="mapid">
      </div>
      <br>
  </div>
</div>

<script>var smartService = '{{=smartService}}';</script>