{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilos.css')}}"/>
<!-- LEAFLET BLOCK -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKylGqXGF6dkieX9tcSsneA18xX-tAROw" async defer></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
   
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
<!-- END LEAFLET BLOCK-->
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/roadDelimitation.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}

<ul class="nav justify-content-center"> 
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','zoneDelimitation')}}">Zone Delimitation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','parkingDelimitation')}}">Parkings Delimitation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','roadDelimitation')}}">RoadSegments Delimitation</a>
    </li>
</ul>
<br>

<div class="row">
    <div class="col-sm-4 card">
        <div class="form-group" id="FormGroup1">
            <div class="card-header">
                <h4 class="text-center"> RoadSegment Delimitation</h4>
            </div>
            <form id="form">

                <label > <i class="far fa-map"></i> Associated to: </label>
                <div class="form-group container ">
                    <div class="row" >
                        <div class="form-check col-sm">
                            <input class="form-check-input" type="radio" name="associatedRadio" id="zoneRadio" value="zone" checked>
                            <label class="form-check-label" for="zoneRadio">
                                Zone
                            </label>
                        </div>
                        <div class="form-check col-sm">
                            <input class="form-check-input" type="radio" name="associatedRadio" id="parkingRadio" value="parking">
                            <label class="form-check-label" for="parkingRadio">
                                Parking
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Zone name-->
                <div class="form-group">
                    <label for="zonelist"> <i class="far fa-map"></i> Select Zone: </label>
                    <select id="zonelist" name="zonelist" class="form-control" required>
                      <option value="" disabled selected>Select an option</option>
                    </select>
                </div>
                <!-- Parking name-->
                <div class="form-group" id="parkingListDiv">
                    <label for="parkinglist"> <i class="far fa-map"></i> Select Parking: </label>
                    <select id="parkinglist" name="parkinglist" class="form-control">
                        <option value="" disabled selected>Select an option</option>
                    </select>
                </div>

                <!-- Road name-->
                <div class="form-group row">
                    <div class="col-sm">
                        <label for="roadList"> <i class="far fa-map"></i> Select Road: </label>
                        <select id="roadList" name="roadList" class="form-control" required>
                            <option value="" disabled selected>Select an option</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <div class="col-4">
                        <button type="button" id="addRoad"  data-toggle="modal" data-target="#roadModal" class="col-12 btn btn-success btn-rounded text-center "> Add </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">  <i class="far fa-map"></i> Name: </label>
                    <input type="text" name="name" id="name" class="form-control text-center" required>
                </div>

               

                <label > <i class="far fa-map"></i> Speed Limits: </label>
                <div class="form-group container">
                    <div class="row">
                        <div class="col-sm">
                            <label for="max">  Maximum: </label>
                            <input type="number" name="max" id="max" class="form-control text-center" required>
                        </div>
                        <div class="col-sm">
                            <label for="min"> Minimum: </label>
                            <input type="number" name="min" id="min" class="form-control text-center" required>
                        </div>
                    </div>
                </div>

                <label > <i class="far fa-map"></i> LaneUsage: </label>
                <div class="form-group container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="forwardCheck" required>
                                <label class="form-check-label" for="forwardCheck">
                                    Forward
                                </label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="backwardCheck">
                                <label class="form-check-label" for="backwardCheck">
                                    Backward
                                </label>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="width">  <i class="far fa-map"></i> Width: </label>
                    <input type="number" name="width" id="width" class="form-control text-center" required>
                </div>
                <br>
                <div class="form-group row">   
                    <div class="col-6">
                        <button type="submit"  class="col-12 btn btn-success btn-rounded text-center "> Save </button>
                    </div>
                    <div class="col-6">
                        <button type="button" id="cancel" class="col-12 btn btn-warning btn-rounded text-center"> Cancel </button>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    
    <div class="col-sm-8">
        <div id="mapid">
        </div>
        <div class="alert alert-danger" role="alert" id="alert">
            You should to draw one polyline
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="roadModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Road</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form2"> 
            <div class="modal-body">
                <div class="form-group">
                        <label for="roadName">  <i class="far fa-map"></i>  Name: </label>
                        <input type="text" name="roadName" id="roadName" class="form-control text-center" required>
                    </div>
                    
                    <div class="form-group basic-textarea">
                        <label for="description"> <i class="fas fa-info-circle"></i>  Description: </label>
                        <textarea class="form-control text-center" id="description" placeholder="Brief description of the zone" required rows="2"></textarea>
                    </div>  
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary">Save Road</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
    var smartService = '{{=smartService}}';
</script>