{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="{{=URL('static','css/estilos.css')}}"/>
<!-- LEAFLET BLOCK -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKylGqXGF6dkieX9tcSsneA18xX-tAROw" async defer></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
<!-- END LEAFLET BLOCK-->
{{end}} 

{{block page_js}}
<script src="{{=URL('static','js/CenidetModule/zoneList.js')}}"></script>
{{end}}

{{block header}}
<center style="background-color: #333; color:white; padding:30px">
  <h1> Maps Application </h1>
</center>
{{end}}

<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','index')}}">User Devices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','alerts')}}">Alerts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{=URL('default','zonesList')}}">Zones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','parkingList')}}">Parkings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{=URL('default','roadsList')}}">Roads</a>
    </li>
</ul>
<br>

<div class="container">
    <div class="row">
        <div class="col-10">
            <h4> Registered Zones </h4>
        </div>
        <div class="col-2">
            <a href="{{=URL('default','zoneDelimitation')}}" class="btn btn-success">
                <i class="fas fa-plus-circle"></i>
                Add new zone
            </a>
        </div>
    </div>
        <table class="table table-hover table-dark" id="zoneList">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#ID Zone</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    
</div>

  
<script>
    var smartService = '{{=smartService}}';
</script>